footer.footer
  //- .container
  //-   .footer-logo
  //-     a(href="#")
  //-       img(src="img/logo_noBG_green.png", alt="")
  //-   span.copyright Copyright © 2017 React Primer. All Rights Reserved
  //-   .credits
  .container
    - let currentYear = new Date().getFullYear();
      p
      | &copy; #{currentYear} | CETCME
      i.fa.fa-value(aria-hidden='true') &nbsp;