nav#nav-bar.main-nav-outer(style="z-index: 1000;")
  .container
    ul.main-nav
      li
        a(href="#demo") Demo
      li
        a(href="#download") Download
      li.small-logo
        a(href="#header")
          img.navLogo(src="img/48x48.png", alt="")
      li
        a(href="#team") Team
      li
        a(href="mailto:hello@react-primer.com?Subject=ReactPrimer Contact", target="_top") Contact Us
    a.res-nav_click(href="#")
      i.fa-bars
