link(href='https://cdn.bootcss.com/bootstrap/3.0.3/css/bootstrap.min.css' rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet')
link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600" rel="stylesheet" type="text/css")
link(href='https://cdn.bootcss.com/dplayer/1.22.2/DPlayer.min.css' rel='stylesheet')

link(href='css/style.css' rel='stylesheet')
link(href='css/animate.css' rel='stylesheet')
link(href='css/font-awesome.css' rel='stylesheet')
link(href='css/my-style.css' rel='stylesheet')