section#demo.main-section
  .container
    h2 Demo
    h6 Prototype faster. Start building quicker.      
    br
    .row
      .col-lg-4.col-sm-6.wow.fadeInLeft.delay-05s.animated(style="visibility: visible; animation-name: fadeInLeft;")
        // __________ Something
        .service-list
          .service-list-col1
            i.fa.fa-code
          .service-list-col2
            h3 Streamline your workflow    
            p Expedite your preliminary stage for new projects or inject into an existing one.
        // Web Development
        .service-list
          .service-list-col1
            i.fa-gear
          .service-list-col2
            h3 Intuitive Prototyping Design       
            p Drag and drop your components to simpify your prototyping process .
        // Cross-Platform Compatibility
        .service-list
          .service-list-col1
            i.fa.fa-desktop(aria-hidden="true")
          .service-list-col2
            h3 Cross-Platform Compatibility
            p
              | Use React Primer across (most) operating systems. Check the 
              a(href="#download") download
              |  section.
        // Github bullet point
        .service-list
          .service-list-col1
            i.fa.fa-github(aria-hidden="true")
          .service-list-col2
            h3 Contribute on Github
            a(href="https://github.com/ReactPrimer/ReactPrimer") https://github.com/ReactPrimer/ReactPrimer
      figure.col-lg-8.col-sm-6.text-right.wow.fadeInUp.delay-02s.animated(style="visibility: visible; animation-name: fadeInUp;")
        img(src="img/demo_15mb.gif", alt="")
