section#download.main-section.paddind
  .container
    h2(style="color:white") Download
    |       
    h6.dl Version 1.0 now available for download:
    // <div class="portfolioFilter">
    ul.Portfolio-nav.wow.fadeIn.delay-02s.animated(style="visibility: visible; animation-name: fadeIn;")
      li
        a(href="https://github.com/ReactPrimer/ReactPrimer/releases/download/1.0.0/ReactPrimer-win32-x64.zip")
          i.fa.fa-windows(aria-hidden="true")
          |   Windows
      |         
      li
        a(href="https://github.com/ReactPrimer/ReactPrimer/releases/download/1.0.0/ReactPrimer.dmg")
          i.fa.fa-apple(aria-hidden="true")
          |    MacOS
      |         
      li
        a(href="https://github.com/ReactPrimer/ReactPrimer/releases/download/1.0.0/React-Primer_1.0.0_amd64.deb")
          i.fa.fa-linux(aria-hidden="true")
          |   Linux
