header.header#header
  .container
    figure.logo.animated.fadeInDown.delay-07s
      a(href='#')
        img(src='img/logo_noBG_green.png')
    h1.animated.fadeInDown.delay-07s React Primer
    ul.we-create.animated.fadeInUp.delay-1s
      li A React prototyping tool.
      br
      liGenerate your React project component hierarchy.
    a#videoBtn.link.animated.fadeInUp.delay-1s(href='/file') Check Us Out with Video
  