extends ../../layouts/default

block content
  .container
    form(action="/upload", method="post", enctype="multipart/form-data")
      .form-group
        label File
        input.form-control(type="file", name="file")
      input.btn.btn-default(type="submit", value="ok")